<!DOCTYPE html>
<html class="dark-layout loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <meta name="description" content="<%= project_description %>">
    <title>Login Page | <%= project_name %></title>
    <link rel="apple-touch-icon" href="/images/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/vendors.min.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/components.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/extensions/toastr.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/themes/dark-layout.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/themes/bordered-layout.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/themes/semi-dark-layout.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/plugins/forms/form-validation.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/authentication.css">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern blank-page navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="blank-page">
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <div class="auth-wrapper auth-basic px-2">
                    <div class="auth-inner my-2">
                        <!-- Login basic -->
                        <div class="card mb-0">
                            <div class="card-body">
                                <a href="<%= generateUrl('user.login')%>" class="brand-logo">
                                    <img src="/images/logo-new-wts.png" style="max-height: 70px;" alt="logo">
                                </a>

                                <section id="signin-section">
                                    <h4 style="text-align: center;" class="card-title mb-1">Welcome to <%= project_name %>! 👋</h4>
                                    
                                    <p class="card-text mb-2">Please sign-in to your account and start the adventure</p>
    
                                    <form class="auth-login-form mt-2"  id="admin_login_form" method="POST">
                                        <div class="mb-1">
                                            <label for="login-email" class="form-label">Email</label>
                                            <input type="text" class="form-control" id="login-email" name="email" placeholder="john@example.com" aria-describedby="login-email" tabindex="1" autofocus />
                                        </div>
    
                                        <div class="mb-1">
                                            <div class="d-flex justify-content-between">
                                                <label class="form-label" for="login-password">Password</label>
                                                <a href="javascript:;" id="forgetpasswordButton">
                                                    <small>Forgot Password?</small>
                                                </a>
                                            </div>
                                            <div class="input-group input-group-merge form-password-toggle">
                                                <input type="password" class="form-control form-control-merge" id="login-password" name="password" tabindex="2" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="login-password" />
                                                <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                            </div>
                                        </div>
                                        <div class="mb-1">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="remember-me" tabindex="3" />
                                                <label class="form-check-label" for="remember-me"> Remember Me </label>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary w-100" id="proceed_signin" tabindex="4">Sign in</button>
                                    </form>
    
                                    <!-- <p class="text-center mt-2">
                                        <span>New on our platform?</span>
                                        <a href="javascript:;" id="signupButton">
                                            <span>Create an account</span>
                                        </a>
                                    </p> -->
                                </section>

                                <section id="forget-password-admin" style="display: none;">
                                    <h4 class="card-title mb-1">Forgot Password? 🔒</h4>
                                    <p class="card-text mb-2">Enter your email and we'll send you instructions to reset your password</p>

                                    <form class="auth-forgot-password-form mt-2" action="" method="POST">
                                        <div class="mb-1">
                                            <label for="forgot-password-email" class="form-label">Email</label>
                                            <input type="text" class="form-control" id="forgot-password-email" name="email" placeholder="john@example.com" aria-describedby="forgot-password-email" tabindex="1" autofocus />
                                        </div>
                                        <button class="btn btn-primary w-100" tabindex="2">Submit</button>
                                    </form>

                                    <p class="text-center mt-2">
                                        <a href="javascript:;" id="signinButton"> <i data-feather="chevron-left"></i> Back to login </a>
                                    </p>
                                </section>

                                <section id="signup-form-admin" style="display: none;">
                                    <h4 class="card-title mb-1">Adventure starts here 🚀</h4>
                                    <p class="card-text mb-2">Make your system management easy and fun!</p>

                                    <form class="auth-register-form mt-2" action="#" method="POST">
                                        <div class="mb-1">
                                            <label for="register-username" class="form-label">Username</label>
                                            <input type="text" class="form-control" id="register-username" name="username" placeholder="johndoe" aria-describedby="register-username" tabindex="1" autofocus />
                                        </div>
                                        <div class="mb-1">
                                            <label for="register-email" class="form-label">Email</label>
                                            <input type="text" class="form-control" id="register-email" name="email" placeholder="john@example.com" aria-describedby="register-email" tabindex="2" />
                                        </div>

                                        <div class="mb-1">
                                            <label for="register-password" class="form-label">Password</label>

                                            <div class="input-group input-group-merge form-password-toggle">
                                                <input type="password" class="form-control form-control-merge" id="register-password" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="register-password" tabindex="3" />
                                                <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                            </div>
                                        </div>
                                        <div class="mb-1">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="register-privacy-policy" tabindex="4" />
                                                <label class="form-check-label" for="register-privacy-policy">
                                                    I agree to <a href="#">privacy policy & terms</a>
                                                </label>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary w-100" tabindex="5">Sign up</button>
                                    </form>

                                    <p class="text-center mt-2">
                                        <span>Already have an account?</span>
                                        <a href="javascript:;" id="loginButton">
                                            <span>Sign in instead</span>
                                        </a>
                                    </p>
                                </section>
                            </div>
                        </div>
                        <!-- /Login basic -->
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- END: Content-->


    <!-- BEGIN: Vendor JS-->
    <script src="/app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="/app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
    <script src="/app-assets/vendors/js/extensions/toastr.min.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="/app-assets/js/core/app-menu.js"></script>
    <script src="/app-assets/js/core/app.js"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="/app-assets/js/scripts/pages/auth-login.js"></script>
    <script src="/app-assets/js/scripts/pages/auth-forgot-password.js"></script>
    <script src="/app-assets/js/scripts/pages/auth-register.js"></script>
    <!-- END: Page JS-->

    <script>
        $(window).on('load', function() {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        })

        if(window.navigator && navigator.serviceWorker) {
            navigator.serviceWorker.getRegistrations()
            .then(function(registrations) {
                for(let registration of registrations) {
                    registration.unregister();
                }
            });
        }

        $("#forgetpasswordButton").on("click", function () {
            $("#signin-section").css("display", "none");
            $("#signup-form-admin").css("display", "none");
            $("#forget-password-admin").css("display", "");
        });
        $("#signinButton").on("click", function () {
            $("#signin-section").css("display", "");
            $("#signup-form-admin").css("display", "none");
            $("#forget-password-admin").css("display", "none");
        });
        $("#loginButton").on("click", function () {
            $("#signin-section").css("display", "");
            $("#signup-form-admin").css("display", "none");
            $("#forget-password-admin").css("display", "none");
        });
        $("#signupButton").on("click", function () {
            $("#signin-section").css("display", "none");
            $("#signup-form-admin").css("display", "");
            $("#forget-password-admin").css("display", "none");
        });

        $('#admin_login_form').submit(function () {
            let cb = document.querySelector('#remember-me');
            if (cb.checked) {
                let email = document.querySelector('#login-email');
                let password = document.querySelector('#login-password');
                if (email.value && password.value) {
                    localStorage.setItem("<%= project_name %>".replace(/\s/gi, '') + '_login_email', email.value);
                    localStorage.setItem("<%= project_name %>".replace(/\s/gi, '') + '_login_password', password.value);
                    localStorage.setItem("<%= project_name %>".replace(/\s/gi, '') + '_remember_me', true);
                }
            } else {
                localStorage.setItem("<%= project_name %>".replace(/\s/gi, '') + '_login_email', '');
                localStorage.setItem("<%= project_name %>".replace(/\s/gi, '') + '_login_password', '');
                localStorage.setItem("<%= project_name %>".replace(/\s/gi, '') + '_remember_me', '');
            }
        });

        $(document).ready(function () {
            let email = localStorage.getItem("<%= project_name %>".replace(/\s/gi, '') + '_login_email');
            let password = localStorage.getItem("<%= project_name %>".replace(/\s/gi, '') + '_login_password');
            let remember_me = localStorage.getItem("<%= project_name %>".replace(/\s/gi, '') + '_remember_me');
            $('#login-email').val(email);
            $('#login-password').val(password);
            $('#remember-me').prop('checked', remember_me);
        });
    </script>
    <!-- DISPLAY SUCCESS MESSAGE -->
	<% if (!(_.isEmpty(messages))) { 
        if(_.keys(messages) == 'success') {
    %>
    <script type="text/javascript">
        let isRtl = $('html').attr('data-textdirection') === 'rtl';
        toastr['success'](
        '<%=messages.success[0] %>',
        'Success!',
        {
            closeButton: true,
            tapToDismiss: false,
            rtl: isRtl
        }
        );
    </script>
    <% 
        }
    } 
    %>
    <!-- DISPLAY ERROR MESSAGE -->
    <% if (!(_.isEmpty(messages))) {
        if(_.keys(messages) == 'error') {
    %>
    <script type="text/javascript">
        let isRtl2 = $('html').attr('data-textdirection') === 'rtl';
        toastr['error'](
        '<%=messages.error[0] %>',
        'Error!',
        {
            closeButton: true,
            tapToDismiss: false,
            rtl: isRtl2
        }
        );
    </script>
    <% 
        }
    } 
    %>
</body>
<!-- END: Body-->

</html>